#team-list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.team-list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    margin: 0 10px;
}

#team-list-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.team-list-item {
    background-color: rgb(125, 207, 255);
    padding: 10px;
    margin: 10px 0;
    font-size: 1.5em;
}

.team-list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-list-item button {
    width: 50px;
    border: 0;
    outline: 0;
    margin: 5px;
    background-color: #f0f0f0;
}

.team-list-item button:active{
    background-color: #d8d8d8;
}