<div id="team-list-container">
    <div class="team-list" *ngFor="let team of game?.teams; index as teamIndex">
        <div id="team-list-header">
            <h1>{{ team.name }}</h1>
            <h2>{{ team.score }}</h2>
        </div>
        <div class="team-list-item" *ngFor="let member of team.members; index as playerIndex">
            <div class="team-list-item-header">
                {{ member.player.name }}
                <div class="player-list-item-button-container">
                    <button (click)="increaseScore(team.teamId, member.teamMemberId)">+</button>
                    <button (click)="decreaseScore(team.teamId, member.teamMemberId)">-</button>
                </div>
            </div>
            <div class="player-score-container">Player score: {{member.score}}</div>
        </div>
    </div>
</div>
