<div id="game-creator-container">
    <button id="game-create-button">Create new game</button>
    <div id="game-creator-form-container">
        <div id="game-creator-form">
            <h1>Create new game</h1>
            <div id="team-input-container">
                <div class="team-input">
                    <label>Team 1 name</label>
                    <input type="text" />
                    <button class="add-player-button">Add players</button>
                </div>
                <div class="team-input">
                    <label>Team 2 name</label>
                    <input type="text" />
                    <button class="add-player-button">Add players</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-player-selector></app-player-selector>
