#game-create-button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    background-color: #f0f0f0;
}

#game-create-button:active {
    background-color: #d8d8d8;
}

#game-creator-form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-creator-form {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.1);
}

#game-creator-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-creator-form-header button{
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 2em;
    padding: 0;
}

#game-creator-form #create-game-button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    background-color: #f0f0f0;
}

#game-creator-form #create-game-button:active {
    background-color: #d8d8d8;
}

#team-input-container {
    display: flex;
    flex-direction: row;
}

#team-input-container .team-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.team-input .add-player-button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    background-color: #f0f0f0;
}

.team-input .add-player-button:active {
    background-color: #d8d8d8;
}

.team-member-list-item {
    padding: 10px;
    margin: 10px;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-member-list-item .team-member-remove-button {
    border: 0;
    outline: 0;
    background-color: white;
    padding: 5;
}

#player-selector-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}



#player-selector-container {
    position: absolute;
    top: 50%;
    right: 30px;
    left: 30px;
    transform: translate(0, -50%);
}

#player-selector {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.1);
    width: 100%;
}

#player-selector-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#player-selector-header #player-selector-close-button {
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 2em;
    padding: 0;
}

#player-selector-list .player-selector-item {
    padding: 10px;
    background-color: #eee;
    font-size: 1.2em;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#player-selector-list .player-selector-item button {
    outline: 0;
    border: 0;
    padding: 10px 20px;
    background-color: #78b2ff;
    color: white;
}

#player-selector-list .player-selector-item button:active {
    background-color: #689bdd;

}
