<div id="game-creator-container">
    <button id="game-create-button" (click)="toggleGameCreatorForm()">Create new game</button>
    <div *ngIf="gameCreatorFormDisplay" id="game-creator-form-container">
        <div id="game-creator-form">
            <div id="game-creator-form-header">
                <h1>Create new game</h1>
                <button (click)="toggleGameCreatorForm()">✕</button>
            </div>
            <button id="create-game-button">Create game</button>
            <div id="team-input-container">
                <div *ngFor="let team of teams; index as teamIndex">
                    <div class="team-input">
                        <label>Team {{teamIndex + 1}} name</label>
                        <input [ngModel]="teams[teamIndex].name" type="text" />
                        <button class="add-player-button">Add players</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-player-selector></app-player-selector> -->
