<div id="game-creator-container">
    <button id="game-create-button" (click)="toggleGameCreatorForm()">Create new game</button>
    <div *ngIf="gameCreatorFormDisplay" id="game-creator-form-container">
        <div id="game-creator-form">
            <div id="game-creator-form-header">
                <h1>Create new game</h1>
                <button (click)="toggleGameCreatorForm()">✕</button>
            </div>
            <button id="create-game-button">Create game</button>
            <div id="team-input-container">
                <div *ngFor="let team of teams">
                    <app-team-input [team]="team"></app-team-input>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-player-selector></app-player-selector> -->
