#player-creator-container {
    padding: 20px;
    background-color: #78b2ff;
}

#player-creator-input-container {
    display: flex;
    flex-direction: row;
    color: white;
}

    #player-creator-input-container input {
        width: 100%;
        flex-grow: 1;
    }

    #player-creator-input-container label {
        margin-right: 20px;
        font-size: 2em;
        white-space: nowrap;
    }

#player-creator-container button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    background-color: #f0f0f0;
}

    #player-creator-container button:active {
        background-color: #d8d8d8;
    }

#player-list-container {
    margin-top: 50px;
}

#player-list-container h1 {
    margin-bottom: 10px;
}

.player-card {
    background-color: #eee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

    .player-card .player-attribute-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.7em;
    }

    .player-card button {
        font-size: 1.5em;
        background-color: #ff4646;
        border: 0;
        outline: 0;
        padding: 10px 20px;
    }

        .player-card button:active {
            background-color: #ce3939;
        }
