<div id="player-selector-container">
    <div id="player-selector">
        <div id="player-selector-header">
            <h1>Select players</h1>
            <button id="player-selector-close-button">Close</button>
        </div>
        <div id="player-selector-list">
            <div class="player-selector-item">
                asdfasdf
                <button>test</button>
            </div>
            <div class="player-selector-item">asdfasdf</div>
            <div class="player-selector-item">asdfasdf</div>
        </div>
    </div>
</div>
