.team-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.team-input .add-player-button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    background-color: #f0f0f0;
}

.team-input .add-player-button:active {
    background-color: #d8d8d8;
}
